# SQL Options in Spark HW Solutions

Alirght let's apply what we learned in the lecture to a new dataset!

**But first!**

Let's start with Spark SQL. But first we need to create a Spark Session!

In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkSQLHWSolutions").getOrCreate()

## Read in our DataFrame for this Notebook

For this notebook we will be using the Google Play Store csv file attached to this lecture. Let's go ahead and read it in. 

### About this dataset

Contains a list of Google Play Store Apps and info about the apps like the category, rating, reviews, size, etc. 

**Source:** https://www.kaggle.com/lava18/google-play-store-apps

In [2]:
path = ''

googlep = spark.read.csv(path+"googleplaystore.csv",header=True,inferSchema=True)

## First things first

Let's check out the first few lines of the dataframe to see what we are working with

In [3]:
# This is way better
googlep.limit(5).toPandas()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

As well as the schema to make sure all the column types were correctly infered

In [4]:
print(googlep.printSchema())

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Reviews: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Content Rating: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Last Updated: string (nullable = true)
 |-- Current Ver: string (nullable = true)
 |-- Android Ver: string (nullable = true)

None

Looks like we need to edit some of the datatypes. Let's just update Rating, Reviews and Price as integer (float for Rating) values for now, since the Size and Installs variables will need a bit more cleaning.

In [7]:
from pyspark.sql.types import *

df = googlep.withColumn("Rating", googlep["Rating"].cast(FloatType())) \
            .withColumn("Reviews", googlep["Reviews"].cast(IntegerType())) \
            .withColumn("Price", googlep["Price"].cast(IntegerType()))
print(df.printSchema())
df.limit(5).toPandas()

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: float (nullable = true)
 |-- Reviews: integer (nullable = true)
 |-- Size: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Content Rating: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Last Updated: string (nullable = true)
 |-- Current Ver: string (nullable = true)
 |-- Android Ver: string (nullable = true)

None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

Looks like that worked! Great! Let's dig in.

## 1. Create Tempview

Go ahead and create a tempview of the dataframe so we can work with it in spark sql.

In [9]:
# Create a temporary view of the dataframe

df.createOrReplaceTempView('dataframe')

## 2. Select all apps with ratings above 4.1

Use your tempview to select all apps with ratings above 4.1

In [11]:
# Then Query the temp view

spark.sql("SELECT * FROM dataframe WHERE Rating > 4.0").limit(5).toPandas()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
2,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
3,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
4,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up

## 3. Now pass your results to an object (ie create a spark dataframe)

Select just the App and Rating column where the Category is in the Comic category and the Rating is above 4.5.

In [12]:
sql_results = spark.sql("SELECT App, Rating FROM dataframe WHERE Category = 'COMICS' AND Rating > 4.5")

sql_results.limit(5).toPandas()

                                                 App  Rating
0           Manga Master - Best manga & comic reader     4.6
1  GANMA! - All original stories free of charge f...     4.7
2                          Röhrich Werner Soundboard     4.7
3                    Unicorn Pokez - Color By Number     4.8
4                      Manga - read Thai translation     4.6

## 4. Which category has the most cumulative reviews

Only select the one category with the most reivews. 

*Note: will require adding all the review together for each category*

In [13]:
spark.sql("SELECT Category, sum(Reviews) AS Total_Reviews FROM dataframe GROUP BY Category ORDER BY Total_Reviews DESC").limit(4).toPandas()

        Category  Total_Reviews
0           GAME     1585422349
1  COMMUNICATION      815462260
2         SOCIAL      621241422
3         FAMILY      410226330

## 5. Which App has the most reviews?

Display ONLY the top result

Include only the App column and the Reviews column.

In [16]:
spark.sql("SELECT App, sum(Reviews) AS Total_Reviews FROM dataframe GROUP BY App ORDER BY Total_Reviews DESC").show(1)

+---------+-------------+
|      App|Total_Reviews|
+---------+-------------+
|Instagram|    266241989|
+---------+-------------+
only showing top 1 row

## 5. Select all apps that contain the word 'dating' anywhere in the title

*Note: we did not cover this in the lecture. You'll have to use your SQL knowledge :) Google it if you need to.*

In [17]:
spark.sql("SELECT App FROM dataframe WHERE App LIKE '%dating%'").limit(5).toPandas()

                                                 App
0  Meet, chat & date. Free dating app - Chocolate...
1          Friend Find: free chat + flirt dating app
2                              Spine- The dating app
3      Princess Closet : Otome games free dating sim
4                           happn – Local dating app

## 6. Use SQL Transformer to display how many free apps there are in this list

In [19]:
from pyspark.ml.feature import SQLTransformer

In [20]:
query = SQLTransformer(
    
    statement="SELECT count(*) FROM __THIS__ WHERE Type = 'Free'"
                        
                    ) 

query.transform(df).show()

+--------+
|count(1)|
+--------+
|   10037|
+--------+

## 7. What is the most popular Genre?

Which genre appears most often in the dataframe. Show only the top result.

In [28]:
query = SQLTransformer( 

                    statement = 'SELECT Genres, count(*) AS Total FROM __THIS__ GROUP BY GENRES ORDER BY Total DESC'

                        )


query.transform(df).show(1)

+------+-----+
|Genres|Total|
+------+-----+
| Tools|  842|
+------+-----+
only showing top 1 row

## 8. Select all the apps in the 'Tools' genre that have more than 100 reviews

In [32]:
query = SQLTransformer(
   
    statement="SELECT App, Reviews, Genres FROM __THIS__ WHERE Genres = 'Tools' AND Reviews > 100 ORDER BY Reviews") 


query.transform(df).show(10)

+--------------------+-------+------+
|                 App|Reviews|Genres|
+--------------------+-------+------+
|JavaScript Editor CR|    114| Tools|
|CV Maker for Job ...|    114| Tools|
|Evolve CP Calc. f...|    116| Tools|
|DNS Changer - BES...|    123| Tools|
|              CF cal|    123| Tools|
|  HTC Sense Input-CA|    124| Tools|
|Plug-in app (Syst...|    126| Tools|
|          CBRadioTab|    127| Tools|
|       DS Flashlight|    127| Tools|
|Advanced EX for R...|    130| Tools|
+--------------------+-------+------+
only showing top 10 rows

## That's all folks! Great job!